.card-container {
  padding: 10px 10px;
  background-color: rgb(226, 224, 206);
  width: fit-content;
  height: fit-content;
  max-width: 400px;
}

.avatar-img {
  width: 400px;
  height: auto;
}

.skill-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  border-radius: 8px;
  padding: 5px  ;
}

.skills-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
